@Html.DevExpress().PageControl(
    settings => {
        settings.Name = "pc";
        settings.ActiveTabIndex = 0;
        settings.ActivateTabPageAction = ActivateTabPageAction.Click;
        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
        settings.Height = System.Web.UI.WebControls.Unit.Percentage(100);
        settings.TabPages.Add("Chart1").SetContent(() => {
            ViewContext.Writer.Write(
                        "<div id='chartContainer1' style='max-width: 700px; height: 400px;'></div>"
                    );
        });
        settings.TabPages.Add("Chart2").SetContent(() => {
            ViewContext.Writer.Write(
                        "<div id='chartContainer2' style='max-width: 700px; height: 400px;'></div>"
                    );
        });

        settings.ClientSideEvents.Init = "function (s,e) {  DrawChart('chartContainer1'); }";
        settings.ClientSideEvents.ActiveTabChanged = "function (s,e) { DrawChart('chartContainer2'); isShown = true;}";
        
    }).GetHtml()